<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link href="/stylesheets/bootstrap.css" rel="stylesheet" />
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<style>
	html { 
  background: url("https://res.cloudinary.com/simpleview/image/upload/c_limit,f_auto,h_1200,q_75,w_1200/v1/clients/norway/moskenes-mountain-biking-norway-2-1_9dbdb0d8-6b72-4bc7-b046-b0a2a5c868fe.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{padding-top: 60px;padding-bottom: 40px;background-color:#ccc;opacity:0.6;}
.container{width:960px;margin:0 auto;}
#red{color:red}
</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">YouBike Server</a>
			<div class="nav-collapse">
				<ul class="nav">
					
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="container" class="container">
	
<div class="hero-unit">
	<h1>歡迎使用 Hsinchu YouBike</h1>
	<p id="red">ＫＥＣ動力幣帶來新的生活方式</p>

</div>
<script>


//click and submit form. step 2
var send_power = function(string_json_data, url, http_type,  callback){
    $.ajax({
        type: http_type,
        url: url,
        dataType: "Json",
        contentType: "application/json",
        data: string_json_data,
        success: function(result){
            console.log("=  save 1===")
            console.log(result)
            let str_res = result.toString()
            console.log("=  save 2===")
            console.log(str_res)
            if(str_res.split("warn").length < 2 && str_res.split("error").length < 2)
                return callback()
        },error: function(err){
            console.log("=  error 1===")
            console.log(err)
        }
        
    })
}

var send_battery = function(string_json_data, url, http_type,  callback){
    $.ajax({
        type: http_type,
        url: url,
        dataType: "Json",
        data: string_json_data,
        success: function(result){
            console.log("=  save 1===")
            console.log(result)
            let str_res = result.toString()
            console.log("=  save 2===")
            console.log(str_res)
            if(str_res.split("warn").length < 2 && str_res.split("error").length < 2)
                return callback()
        },error: function(err){
            console.log("=  error 1===")
            send_battery({"battery": err}, "http://34fed6df.ngrok.io/sendkecinfo", "POST" )

            
            
        }
        
    })
}

var power = ''
var old_power = ''
const intervalObj = setInterval(() => {
	console.log('interviewing the interval');
	$.get("./temp", function(data, status){
		power = data
		
		if(power != old_power){
			$("#power").text("您提供了 " +power + "電力")
			console.log("1, "+power);
		}else{
			$("#power").text("等待讀取中....")
			console.log("2, "+power);
		}
		old_power = power
    });

	//$("#power").text(a)
}, 3500);

// ip ="http://34fed6df.ngrok.io"
// send_battery({"battery": 333}, "http://34fed6df.ngrok.io/sendkecinfo", "POST" )
 data = {"Power": "100"}//JSON.stringify(data)
 send_power(JSON.stringify(data), "/post_power_num", "POST" )

//save_todo({}, "http://34fed6df.ngrok.io/sendkecinfo", "GET" )



</script>
	<div  class="well form-inline center" style="text-align:center;">
		<p id="power" style="font-size:64px;">等待讀取中....</p>
	</div>


    <div class="row">

  <div class="span4">
   
  </div>

  </div>

	<hr />
	<footer>
		<p>
			<a href="#KEC.tw" target="_blank">KEC</a> 2017
		</p>
	</footer>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>